body {
    background: rgba(231, 103, 17, 0.932);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}
a {
    color:  white;
     text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 5px;
    width: 350px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    
}
.span {
    width: 50px;
}
#img {
   width: 180px;
   padding: 5px;
   position: relative;
}
#img1 {
    border-radius: 15px;
    width: 350px;
    
}

#cidade {
    color: rgb(10, 10, 10);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}